html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body{
    font-family: 'Lexend', sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    min-height: 100%;
}

section{
    height: 100vh;
    width: 100vw;
}

#pcHead{
    font-size: 1.5em;
}

#featuredContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-content:center;
    align-items: center;
    gap: 25px;
}

#featuredGame ul li{
    list-style: none;
    margin-top:10px;
    font-size: 3.0em;
    color: white;
    text-shadow: 3px 0 7px black;
}

#featuredGame img{
    max-width: 500px;
    min-width: 300px;
    width: 450px;
    height: 200px;
}

#featuredHeading{
    font-size: 1.5em;
    text-shadow: 1px 0 2px black;
}

#quoteContainer{
    text-align: center;
    font-size:30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button{
    background-color: #3F704D;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    box-shadow: 5px 4px 5px rgb(0, 46, 3);
    padding: 20px;
    width: 250px;
    height: 85px;
    border:2px solid #3F704D;
    font-size: 1.5em;;
}

.button:hover{
    transition: .5s;
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    box-shadow: 5px 4px 5px rgb(0, 46, 3);
    padding: 20px;
    width: 250px;
    height: 85px;
}

nav{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    position: relative;
    /*bottom: 0;
    padding: 50px;*/
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width: 1500px){

    #featuredContainer{
        flex-direction: column;
    }

    #featuredGame ul li{
        font-size: 2em;
    }

    .button{    
        padding: 10px;   
        height: 65px;
    }

    .button:hover{
        padding: 10px;
        height: 65px;
    }

    #pcHead{
        font-size: 1em;
    }

    nav{
        font-size: 40px;
        text-align: center;
    }

    footer{
        text-align: center;
    }
}


@media screen and (max-width: 620px){

    .button{
        padding: 10px;
        max-height: 65px;
    }

    .button:hover{
        padding: 10px;
        height: 65px;
    }

    #featuredGame img{
        max-width: 300px;
        max-height: 300px;
    }

    #featuredGame ul li{
        font-size: 1.5em;
    }

    #pcHead{
        font-size: 30px;
    
    }
    
    #quoteContainer p{
        font-size: 20px;
        padding: 20px;
    }
    nav{
        text-align: center;
    }

    footer{
        text-align: center;
    }

}