.button{
    width: 100px;
    background-color: #3F704D;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    box-shadow: 5px 4px 5px rgb(0, 46, 3);
    padding: 10px;
    text-align:center;
}

body{
    font-family: 'Lexend', sans-serif;
}

#featuredGame ul li{
    list-style: none;
}