body{
    font-family: 'Lexend', sans-serif;
}

#featuredContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-content:center;
    align-items: center;
}

#featuredGame ul li{
    list-style: none;
}

#featuredGame img{
    max-width: 500px;
    min-width: 300px;
}

.button{
    width: 100px;
    background-color: #3F704D;
    color: white;
    font-weight: bold;
    border-radius: 10%;
    box-shadow: 5px 4px 5px rgb(0, 46, 3);
    padding: 10px;
   /* text-align:center; */
}


nav{
    background-color: black;
    color: white;
    padding: 10px;

}

footer{
    background-color: black;
    color: white;
    padding: 10px;
}

@media screen and (max-width: 600px){

    nav{
        text-align: center;
    }

    footer{
        text-align: center;
    }

}